* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

header {
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 222px;
    border-bottom: 3px solid #F9B341;
    text-align: center;
}

.pb {
    text-transform: uppercase;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 44px;
    padding-bottom: 62px;
    letter-spacing: 2px;
}

.search {
    display: inline-block;
    margin-right: 134px;
}

.add_contact {
    display: inline-block;
    font-family: 'century gothic', sans-serif;
}

.search_field {
    border: 1px solid #F9B341;
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 321px;
    height: 30px;
    padding-left: 11px;
    border-radius: 0;
}

.search_btn {
    border: none;
    background-color: #F9B341;
    color: white;
    font-family: 'century gothic', sans-serif;
    font-size: 15px;
    padding: 0px 20px 0px 20px; /*7-0*/
    margin-left: -5px;
    border-radius: 0;
    height: 32px;
}

.add_btn {
    border: none;
    background-color: #F9B341;
    color: white;
    font-family: 'century gothic', sans-serif;
    font-size: 15px;
    padding: 7px 22px 7px 22px;
    border-radius: 0;
}

#contacts {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'century gothic', sans-serif;
    margin-top: 50px;
}

.contact_name {
    text-align: left;
    padding: 18px;
    font-size: 20px;
    border-bottom: 1px solid #F9B341;
}

.contact_name span {
    margin-left: 40px;
}

.contact_name.active + .contact_card {
    display: block;
}

.contact_name:hover {
    cursor: pointer;
}

.contact_card {
    display: none;
    border: 1px solid #F9B341;
    border-top: none;
}

.card_actions button{
    margin-right: 10px;
    margin-top: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    float: right;
}

.card_actions {
    padding-top: 7px;
    margin-right: 10px;
}

.contact {
    margin-left: -96px;
    margin-right: -96px;
}

.card_content {
    padding-top: 30px;
    padding-bottom: 17px;
    margin-left: 58.5px;
}

.card_content .fa-mobile {
    font-size: 23px;
    margin-right: 15px;
}

.card_content .fa-envelope {
    font-size: 15px;
    margin-left: -2.4px;
    margin-right: 12.6px;
}

.card_content input {
    background: transparent;
    border: none;
    font-family: 'century gothic', sans-serif;
    font-size: 15px;
}

.card_content input[type=email],
.card_content input[type=tel] {
    width: 200px;
    margin-right: 25px;
}

.card_content .save_btn,
.card_content .unsave_btn {
    border: none;
    background-color: #F9B341;
    color: white;
    font-family: 'century gothic', sans-serif;
    font-size: 15px;
    padding: 7px 70px 7px 70px;
    margin-top: 50px;
    margin-left: 12%;
    border-radius: 0;
    display: none;
}

.card_content .unsave_btn {
    border: 1px solid #F9B341;
    color: #F9B341;
    background-color: white;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 145px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 47%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.add_card {
    padding-top: 17px;
    padding-bottom: 17px;
    border: 1px solid #F9B341;
}

.add_form input {
    background: transparent;
    border: 1px solid #F9B341;
    font-family: 'century gothic', sans-serif;
    font-size: 19px;
    width: 200px;
}

.add_card input[type=email],
.add_card input[type=tel] {
    margin-right: 25px;
}

.add_card .addSave {
    border: none;
    background-color: #F9B341;
    color: white;
    font-family: 'century gothic', sans-serif;
    font-size: 15px;
    padding: 7px 70px 7px 70px;
    margin-top: 50px;
    margin-left: 30%;
    border-radius: 0;
}

.add_card .fa-mobile {
    font-size: 23px;
    margin-right: 15px;
    margin-left: 15px;
}

.add_card .fa-envelope {
    font-size: 15px;
    margin-left: 12.6px;
    margin-right: 12.6px;
    padding-top: 20px;
}

.add_name {
    font-size: 25px;
    font-family: 'century gothic', sans-serif;
    text-align: left;
    padding-bottom: 20px;
}

.add_name input {
    font-size: 30px;
    width: 400px;
    margin-bottom: 10px;
}


#noContacts{
    display: none;
    text-align: center;
    font-size: 25px;
    margin-top: 77px;
    font-family: 'century gothic', sans-serif;
}


.first_name,
.last_name {
    font-size: 20px;
    font-family: 'century gothic', sans-serif;
    padding: 7px 0 7px 0;
    border: 1px solid #F9B341;
    display: none;
}

.first_name {
    margin-left: 40px;
    margin-right: 15px;
}


.addfieldbtn {
    display: none;
}





